* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  --bg-default: #C4C4C4;
  --bg-primary: #EF7672;
  --bg-green: #00B398;
  --bg-gray-1: #DDE5ED;
  --bg-gray-2: #8FA7B2;
  --bg-gray-3: #4D6F80;
  --bg-red-1: #EF7672;
  --bg-red-2: #DC6460;
}

body {
  background: #F1F6FA;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

btn, a, input {
  outline: none;
  text-decoration: none;
  transition: background ease 0.3s, color ease 0.3s;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.btn {
  background:var(--bg-default);
  padding: 8px 16px;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  font-weight: 600;
}

.btn.btn-primary{
  background: var(--bg-primary);
}

.btn.btn-primary:hover{
  background: var(--bg-red-2);
}

#wrapper {
  width: 100vw;
  height: 100vh;

  background: url(../img/bg-1.png) top right no-repeat;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.menu_topo {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.menu_topo nav{
  display: flex;

  justify-content: center;
  align-items: center;
}

.menu_topo nav ul{
  list-style-type:none;
  margin:0 8px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_topo nav ul li{
  padding:0 8px;
  display: flex;
  align-items: center;
}

.menu_topo nav ul li a{
  color: var(--bg-gray-3);
}
.menu_topo nav ul li a:hover{
  color: var(--bg-gray-2);
}

.menu_topo .logo img{
  height: 60px;
}

.menu_topo .social_medias{
  margin: 0 8px;
  display: flex;
  align-items: center;
}

.menu_topo .social_medias a{
  display: flex;
  align-items: center;
}