#content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1024px;
  margin-top: 32px;
}

#content .hero h2 {
  font-size: 30px;
  font-weight: 800;
  color: var(--bg-gray-3);
  width: 370px;
}

#content .hero p {
  font-size: 20px;
  font-weight: 400;
  color: var(--bg-gray-3);
  width: 370px;
}

#content .hero ul {
  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 24px
}

#content .hero ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--bg-gray-2);
  font-size: 14px;
}

#content .hero ul li strong{
  font-size: 24px;
  line-height: 24px;
  color: var(--bg-primary);
}

#content .hero > *{
  margin-bottom: 18px;
}